@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Smythe&display=swap');

/*Prevents Links to Works page from being hidden by Navbar*/
:target:before {
    display: block;
    content: "";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
    
}

/*Background Images*/
.jumbotron {
    background-image: url(images/Arrows.jpg);
    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#wood {
    background-image: url(images/WoodgrainBackground.jpg);
    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#clouds {
    background-image: url(images/cloudsOpacity50.jpg);
    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#marble {
    background-image: url(images/marbleOpacity50.jpg);
    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas {
    background-image: url(images/canvasLight.jpg);
    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Fonts */
h1, h2, h3, h4, h4, h6 {
    font-family: 'Smythe', cursive; 
}

p, a {
    font-family: 'Open Sans', sans-serif;
}


footer {
    background-color: #f8f9fa;
}

